// regular
@font-face {
  font-family: 'Spica';
  src: url("fonts/SpicaNeue-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// light
@font-face {
  font-family: 'Spica';
  src: url("fonts/SpicaNeue-Light.ttf") format("truetype");
  font-weight: 300;
}

// bold
@font-face {
  font-family: 'Spica';
  src: url("fonts/SpicaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
}

$body-font-family:'Spica', 'Noto Sans JP', 'sans-serif';
