/* https://mdesign-works.com/blog/web/scss-partials-variables/ */

body {
  font-family: $body-font-family;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #555555;
}

$units: 0, 1, 2, 3;
@each $unit in $units {
  .mb-#{$unit} {
    margin-bottom: #{$unit}rem;
  }
  .mt-#{$unit} {
    margin-top: #{$unit}rem;
  }
  .ml-#{$unit} {
    margin-left: #{$unit}rem;
  }
  .pl-#{$unit} {
    padding-left: #{$unit}rem;
    border-left: #{$unit}px solid rgb(255-(10*$unit), 255-(10*$unit), 255);
  }
  .pr-#{$unit} {
    padding-right: #{$unit}rem;
  }
  .px-#{$unit} {
    padding-right: #{$unit}rem;
    padding-left: #{$unit}rem;
  }
  .m-#{$unit} {
    margin: #{$unit}rem;
  }
}

h6 {
  margin-bottom: 1rem;
}

hr {
  border: dashed 0.5px lightgray;
}

label {
  font-weight: unset;
}

input {
  font-size: 1.0rem;
}
  ::placeholder{
    color: lightgray;
  }

textarea {
  font-size: $body-font-family;
  width: 100%;
  resize: none;
}

button {
  font-weight: unset;
  &:disabled {
    text-decoration: line-through;
    color: silver;
    border-color: silver;
  }

  &.danger {
    color: red;
    border-color: red;
  }
}

p {
  white-space: pre-line;

  &.comment-out {
    font-size: 0.8rem;
    color: steelblue;
  }

  &.src-code {
    font-size: 0.8rem;
    color: gray;
    span{
      &.key1{
        color: darkorange;
        font-weight: 400;
      }
      &.key2{
        color: rebeccapurple;
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      color: darkgreen;
    }
  }
}

div.phrase {
  p {
    margin-bottom: 1rem;
  }

  div.reply {
    margin-left: 1rem;

    p > span {
      &.reply.reply-status {
      }
    }
  }
}
