/* https://mdesign-works.com/blog/web/scss-partials-variables/ */

body{
  font-family: $body-font-family;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #555555;
}

label{
  font-weight: unset;
}

input {
  font-size: 1.0rem;
}

textarea {
  font-size: $body-font-family;
  width: 100%;
  resize: none;
}

button {
  font-weight: unset;
  &.danger {
    color: red;
    border-color: red;
  }
}

p {
  white-space: pre-wrap;
}

div.phrase {
  p {
    margin-bottom: 1rem;
  }
  div.reply {
    margin-left: 1rem;
    p > span {
      &.reply.reply-status {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
